/*
首页分析：
  菜单导航：
    字体颜色：#3f5263
    hover: #bf5757
    字体样式："Helvetica Neue",Helvetica,Arial,sans-serif
  轮播图：
    #80d0de
  注册信息：
    字体颜色（内容，有点像muted）：#5d7283 
    title: #fff
    按钮背景色：#d15d5d
  wedget区域：
    title颜色：#3f5263
    content颜色：#8693AB
  Metronics区域：
    title：#3f5263
    h5字体：#8693a7

  client区域：
    背景色：#3194a4
    quote背景色：#f7fafd
      content:#8693a7
      author: #5f6f77
      position:#bf5757

  Theme Portfolio区域：
      navbar：active颜色   #3f5263
*/
$text-color: #3f5263;
$text-color-hover: #bf5757;
$text-carousel-content: #80d0de;
$text-content-color: #8693a7;
$text-title-color: #d4d9de;
// Import all of Bootstrap's CSS
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
/*Navpill*/
$nav-link-padding-y: .5rem;
$nav-link-padding-x: 1rem;
$nav-link-font-size: null;
$nav-link-font-weight: null;
$nav-link-color: $text-color;
$nav-link-hover-color: var(--#{$prefix}link-hover-color);
$nav-link-transition: color .15s ease-in-out,
background-color .15s ease-in-out,
border-color .15s ease-in-out;
$nav-link-disabled-color: $gray-600;

$nav-tabs-border-color: $gray-300;
$nav-tabs-border-width: $border-width;
$nav-tabs-border-radius: $border-radius;
$nav-tabs-link-hover-border-color: $gray-200 $gray-200 $nav-tabs-border-color;
$nav-tabs-link-active-color: $gray-700;
$nav-tabs-link-active-bg: $body-bg;
$nav-tabs-link-active-border-color: $gray-300 $gray-300 $nav-tabs-link-active-bg;


$nav-pills-border-radius: 0;
$nav-pills-link-active-color: $component-active-color;
$nav-pills-link-active-bg: $text-color;
/*Navpill end*/


$font-family-sans-serif: "Helvetica Neue",
Helvetica,
Arial,
sans-serif;
$custom-colors: ("nyp-dark": #2c3a46,
  "info": #80d0de,
  "nyp-red": #bf5757,
  "nyp-grey": #3f5263,
  "nyp-text-content-color":#8693a7,
  "nyp-contactme-bg":#2c3a46,
  "nyp-contactme-form-border":#97a7b4,
  "nyp-footer-bg":#25303a);
$theme-colors: map-merge($theme-colors, $custom-colors);

@import "~bootstrap/scss/bootstrap";
@import url("~bootstrap-icons/font/bootstrap-icons.css");
@import url("./cust_animation.scss");

header {
  position: absolute !important;
  z-index: 1;

  .menu-bar {
    border: 0;

    &:focus {
      outline: none;
      box-shadow: none;
    }

    i {
      color: $text-color;
    }
  }

  #menu-nav-group {
    max-width: 1200px;

    .nav-link.active {
      color: $text-color-hover;
    }

    ul>li>a {
      font-size: small;
      color: #fff;
      font-size: 16px;

      &:hover {
        color: $text-color-hover !important;
      }
    }
  }
}

#carousel-nyp {
  height: 30rem;
  overflow: hidden;

  div[class|="bg-img"] {
    height: 30rem;
    background-size: cover;
    background-position: center center;
  }

  .bg-img-1 {
    background-image: url("../assets/img/bg/bg_slider1.jpg");
  }

  .bg-img-2 {
    background-image: url("../assets/img/bg/bg_slider2.jpg");
  }

  .bg-img-3 {
    background-image: url("../assets/img/bg/bg_slider3.jpg");
  }
}

.main-feature {
  .main-feature-content {
    .main-feature-content-image-1 {
      background-image: url("../assets/img/widgets/screen1.png");
    }

    .main-feature-content-image-2 {
      background-image: url("../assets/img/widgets/screen2.png");
    }

    .main-feature-content-image-3 {
      background-image: url("../assets/img/widgets/screen3.png");
    }

    .main-feature-content-image-4 {
      background-image: url("../assets/img/widgets/screen4.png");
    }

    div[class*="main-feature-content-image"] {
      // background-color: yellowgreen;
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
      min-height: 100px;
    }
  }
}

.ourteam {
  width: 100%;
  background: url("../assets/img/bg/bg_parallax.jpg") center center / cover;

  .ourteam-header {
    padding-top: 5rem;
  }

  .ourteam-body {
    .team-member-1 {
      background: url("../assets/img/member/member1.png") no-repeat center center / contain;
    }

    .team-member-2 {
      background: url("../assets/img/member/member2.png") no-repeat center center / contain;
    }

    .team-member-3 {
      background: url("../assets/img/member/member3.png") no-repeat center center / contain;
    }

    .team-member-4 {
      background: url("../assets/img/member/member4.png") no-repeat center center / contain;
    }

    .team-member-5 {
      background: url("../assets/img/member/member5.png") no-repeat center center / contain;
    }

    .team-member-6 {
      background: url("../assets/img/member/member6.png") no-repeat center center / contain;
    }

    div[class*="team-member"] {
      height: 220px;
      position: relative;
      cursor: pointer;
      overflow: hidden;

      .team-member-cover {
        background: rgba(129, 129, 129, 0.1);
        position: absolute;
        left: auto;
        top: 0;
        bottom: 0;
        width: 100%;
      }

      &:hover {
        .team-member-cover {
          background: rgba(47, 60, 72, 0.5);
          transition: all cubic-bezier(0.7, 1, 0.7, 1) 0.3s;
        }

        .team-member-desc {
          height: 3rem;
          position: absolute;
          bottom: 0;
          width: 100%;
          transform: translate3d(0, 0, 0);
          // transition: all linear 0.3s;
        }
      }

      .team-member-desc {
        height: 3rem;
        position: absolute;
        bottom: 0;
        width: 100%;
        transform: translate3d(0, 100%, 0);
        transition: all linear 0.3s;
      }
    }

    .ourteam-content-wraper {
      .ourteam-content {
        background: rgba(129, 129, 129, 0.1);
        margin: 0 10px 0 0;
        padding: 10px;

        h5 {
          color: $text-title-color;
        }

        p {
          color: $text-content-color;
        }
      }
    }
  }
}

.form-control {
  border: 1px solid #97a7b4;
  border-radius: none;

}

.form-control:focus {
  box-shadow: none;
  border: 1px solid #97a7b4;
}

//媒体查询
@media screen and (max-width: 768px) {
  header {
    position: static !important;

    #menu-nav-group {
      .nav-link.active {
        color: $text-color-hover;
      }

      ul>li>a {
        font-size: small;
        color: $text-color;

        // font-weight: bold;
        &:hover {
          color: $text-color-hover !important;
        }
      }
    }
  }

  .ourteam {
    .ourteam-content-wraper {
      padding: 0;
      margin: 0;

      .ourteam-content {
        padding: 0px 0 0 6px !important;
        margin: 0px 0 0 6px !important;

        h5 {
          color: $text-title-color;
        }

        p {
          color: $text-content-color;
        }
      }
    }
  }

}