/*
首页分析：
  菜单导航：
    字体颜色：#3f5263
    hover: #bf5757
    字体样式："Helvetica Neue",Helvetica,Arial,sans-serif
  轮播图：
    #80d0de
  注册信息：
    字体颜色（内容，有点像muted）：#5d7283 
    title: #fff
    按钮背景色：#d15d5d
  wedget区域：
    title颜色：#3f5263
    content颜色：#8693AB
  Metronics区域：
    title：#3f5263
    h5字体：#8693a7

  client区域：
    背景色：#3194a4
    quote背景色：#f7fafd
      content:#8693a7
      author: #5f6f77
      position:#bf5757

  Theme Portfolio区域：
      navbar：active颜色   #3f5263
*/
$text-color: #3f5263;
$text-color-hover: #bf5757;
$text-carousel-content: #80d0de;
// Import all of Bootstrap's CSS
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

$font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
$custom-colors: (
  "nyp-dark": #2c3a46,
  "info": #80d0de,
  "nyp-red": #bf5757,
  "nyp-grey": #3f5263,
);
$theme-colors: map-merge($theme-colors, $custom-colors);

@import "~bootstrap/scss/bootstrap";
@import url("~bootstrap-icons/font/bootstrap-icons.css");
@import url("./cust_animation.scss");
header {
  position: absolute !important;
  z-index: 1;
  .menu-bar {
    border: 0;
    &:focus {
      outline: none;
      box-shadow: none;
    }
    i {
      color: $text-color;
    }
  }
  #menu-nav-group {
    .nav-link.active {
      color: $text-color-hover;
    }
    ul > li > a {
      font-size: small;
      color: #fff;
      font-size: 16px;
      &:hover {
        color: $text-color-hover !important;
      }
    }
  }
}

#carousel-nyp {
  height: 30rem;
  overflow: hidden;
  div[class|="bg-img"] {
    height: 30rem;
    background-size: cover;
    background-position: center center;
  }
  .bg-img-1 {
    background-image: url("../assets/img/bg/bg_slider1.jpg");
  }
  .bg-img-2 {
    background-image: url("../assets/img/bg/bg_slider2.jpg");
  }
  .bg-img-3 {
    background-image: url("../assets/img/bg/bg_slider3.jpg");
  }
}
.main-feature {
  .main-feature-content {
    .main-feature-content-image-1 {
      background-image: url("../assets/img/widgets/screen1.png");
    }
    .main-feature-content-image-2 {
      background-image: url("../assets/img/widgets/screen2.png");
    }
    .main-feature-content-image-3 {
      background-image: url("../assets/img/widgets/screen3.png");
    }
    .main-feature-content-image-4 {
      background-image: url("../assets/img/widgets/screen4.png");
    }
    div[class*="main-feature-content-image"] {
      // background-color: yellowgreen;
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
      min-height: 100px;
    }
  }
}

//媒体查询
@media screen and (max-width: 768px) {
  header {
    position: static !important;
    #menu-nav-group {
      .nav-link.active {
        color: $text-color-hover;
      }
      ul > li > a {
        font-size: small;
        color: $text-color;
        // font-weight: bold;
        &:hover {
          color: $text-color-hover !important;
        }
      }
    }
  }
}
